<div class="navbar">
    <ul>
        <li>
            <button [routerLink]="['home']">home</button>
            <button [routerLink]="['standard-mat-table']">
                standard table
            </button>
            <button [routerLink]="['standard-mat-table-with-filter']">
                standard table with sort and filter
            </button>
            <button [routerLink]="['custom-table']">
                custom table dynamic
            </button>
        </li>
    </ul>

    <!-- TODO review: da fare dropdown -->
</div>
